.booking-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin-left: 80px;
  margin-right: 80px;
}

@media (max-width: 786px) {
  .booking-container {
    display: flex;
    flex-direction: column;
  }
}

.left-section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.right-section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.top-section {
  display: flex;
  flex-direction: row;
}

.lphoto {
  width: 50%;
}

.info {
  width: 50%;
}

.booking, .room, .payment, .method {
  width: 100%;
  height: fit-content;
}
