/* src/InfoSection.css */
.info-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .rounded-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .dropdowns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .dropdown {
    display: flex;
    margin-right: 10px;
    gap: 10px;
  }
  